@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/base/utilities';

@import 'bootstrap-italia/src/scss/utilities/icons';

$utilities: (
  'align': map-merge(
      map-get($utilities, 'align'),
      (
        values: top middle bottom,
      )
    ),
  'background-color': map-get($utilities, 'background-color'),
);

@import 'bootstrap-italia/src/scss/base/utilities/api';

:host {
  display: inline-block;
}

.icon-white {
  fill: #fff !important;
}
