it-input it-button[slot='append'] {
  height: 100%;
  &::part(button) {
    --bs-btn-border-radius: 0 var(--bs-form-control-border-radius) var(--bs-form-control-border-radius) 0;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;

    border-bottom: 1px solid var(--bs-form-control-border-color);
  }
}
