@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/components/dropdown';
@import 'bootstrap-italia/src/scss/components/linklist';

ul {
  display: block;
  // margin-top: 10px;
  margin-bottom: 0;
  list-style: auto;
  list-style-type: disc;
  padding-inline: 0;

  ::marker {
    font-size: 0;
    line-height: 0;
  }
  // Custom properties
}

.dropdown-menu::before {
  content: none;
}

.dropdown-menu .arrow {
  width: var(--bs-dropdown-notch-base-size);
  height: var(--bs-dropdown-notch-base-size);
  border-radius: var(--bs-dropdown-border-radius);
  background-color: var(--bs-dropdown-background);
}

:host {
  position: relative;
  font-family: var(--bs-font-sans-serif);

  it-button,
  it-popover {
    display: inline-block;
  }

  it-dropdown-item {
    display: block;
  }
}
