@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/base/utilities';

@import 'bootstrap-italia/src/scss/components/dropdown';

:popover-open {
  @extend .show;
}

// @import 'bootstrap-italia/src/scss/base/utilities/api';
