@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/reboot'; //per il font dentro agli input

//@import 'bootstrap-italia/src/scss/utilities/focus';
%focus,
%focusmouse {
  //queste due definizioni servono perche sono usate da  /forms/forms e /forms/form-control
}

@import 'bootstrap-italia/src/scss/forms/forms';
@import 'bootstrap-italia/src/scss/forms/form-control';
@import 'bootstrap-italia/src/scss/forms/input-group';

:host {
  display: block;
}

input:focus:not(:focus-visible) {
  border: none;
  box-shadow: none;
  outline: none;
}
