@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
//@import 'bootstrap-italia/src/scss/base/maps';
//@import 'bootstrap-italia/src/scss/utilities/focus';
%focus,
%focusmouse {
}

@import 'bootstrap-italia/src/scss/forms/forms';
@import 'bootstrap-italia/src/scss/forms/form-control';

:host {
  display: block;

  &:focus:not([data-focus-mouse='true']),
  &[data-focus-mouse='true'] {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
