@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/base/utilities';

@import 'bootstrap-italia/src/scss/components/videoplayer';
@import 'bootstrap-italia/src/scss/components/accept-overlay';

.acceptoverlay {
  --bs-acceptoverlay-color-text: #fff;

  a {
    color: var(--bs-acceptoverlay-color-text);
  }

  .bg-dark {
    it-button::part(primary) {
      --#{$prefix}btn-text-color: var(--#{$prefix}color-background-primary);
      --#{$prefix}btn-background: var(--#{$prefix}color-background-inverse);

      &:hover {
        --#{$prefix}btn-text-color: var(--#{$prefix}color-text);
      }
    }
  }

  .acceptoverlay-buttons {
    it-button {
      width: 100%;

      &:last-child {
        --#{$prefix}acceptoverlay-buttons-spacing: var(--#{$prefix}spacing-xxs);
      }
    }
  }

  //Tablet vertical
  @include media-breakpoint-up(md) {
    .acceptoverlay-buttons {
      flex-wrap: nowrap;

      it-button {
        width: 50%;

        &:last-child {
          margin-left: var(--#{$prefix}spacing-m);
        }
      }

      &.single-button {
        //text-align: center;
        it-button {
          width: auto;
          min-width: 50%;
        }
      }
    }
  }
}

:host {
  /*
    * Regole spostate in design-web-components/styles/index.scss
  display: block;
  min-width: var(--it-videojs-default-width);
  */
}

video:not([width]) {
  width: 100%;
  height: auto;
}

//video.js dynamic styles are disabled, so we need to ensure the styles are applied correctly
.video-js {
  width: var(--it-videojs-default-width);
  height: var(--it-videojs-default-height);
}

.vjs-fluid:not(.vjs-audio-only-mode) {
  padding-top: 56.25%;
}
