it-button {
  display: inline-block;
  width: auto;
  cursor: default !important; //per non applicare gli stili di default del browser su questi stati: [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled)
}

.bg-dark {
  it-button::part(link) {
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
    &:hover,
    &:focus {
      --#{$prefix}color-link-hover: var(--#{$prefix}color-text-inverse);
      text-decoration-thickness: 2px;
    }
  }

  it-button::part(outline) {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-inverse);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  }
}
