@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/components/avatar';
@import 'bootstrap-italia/src/scss/components/chips';

::slotted(it-icon) {
  display: inline-flex;
}

:host {
  // @import 'bootstrap-italia/src/scss/components/avatar';

  img {
    width: 100%;
    height: 100%;
    border-radius: var(--bs-avatar-radius);
    object-fit: cover;
    object-position: center;
  }
}
