@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/base/utilities';
@import 'bootstrap-italia/src/scss/base/root';
@import 'bootstrap-italia/src/scss/base/reboot';

@import 'bootstrap-italia/src/scss/base/containers';
@import 'bootstrap-italia/src/scss/base/helpers';

@import 'bootstrap-italia/src/scss/base/utilities/api';
@import 'bootstrap-italia/src/scss/utilities/colors';
@import 'bootstrap-italia/src/scss/utilities/focus';
@import 'bootstrap-italia/src/scss/utilities/icons';
@import 'bootstrap-italia/src/scss/utilities/text-colors';

.bg-dark {
  it-icon::part(icon) {
    --#{$prefix}icon-default: var(--#{$prefix}color-text-inverse);
  }

  it-button::part(link) {
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  }

  it-button::part(outline) {
    --#{$prefix}btn-outline-border-color: var(--#{$prefix}color-border-inverse);
    --#{$prefix}btn-text-color: var(--#{$prefix}color-text-inverse);
  }
}

/*Button*/
it-button,
it-popover > it-button {
  @extend .btn;
  display: inline-block;
  width: auto;
}

it-dropdown,
it-popover {
  display: inline-block;
}

it-dropdown-item {
  display: block;
}

/*Icon*/
it-icon {
  //  @extend .icon;
  --bs-it-icon-size: var(--bs-icon-size-m);

  min-width: var(--bs-it-icon-size);
  min-height: var(--bs-it-icon-size);

  &[size='sm'] {
    --bs-it-icon-size: var(--bs-icon-size-sm);
  }

  &[size='xs'] {
    --bs-it-icon-size: var(--bs-icon-size-xs);
  }
}

/*Video*/

/*Video JS font*/

@font-face {
  font-family: VideoJS;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/VideoJS.woff') format('woff');
}

:root {
  --it-videojs-default-width: 300px;
  --it-videojs-default-height: 150px;
}

it-video {
  display: block;
  min-width: var(--it-videojs-default-width, 300px);
}
