it-icon {
  //  @extend .icon;
  --bs-it-icon-size: var(--bs-icon-size-m);

  min-width: var(--bs-it-icon-size);
  min-height: var(--bs-it-icon-size);

  &[size='sm'] {
    --bs-it-icon-size: var(--bs-icon-size-sm);
  }

  &[size='xs'] {
    --bs-it-icon-size: var(--bs-icon-size-xs);
  }
}

.bg-dark {
  it-icon::part(icon) {
    --#{$prefix}icon-default: var(--#{$prefix}color-text-inverse);
  }
}
