@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/base/utilities'; //all utilities from bsi

//ovveride utilities: get only needed utilities
$utilities: (
  'display': map-merge(
      map-get($utilities, 'display'),
      (
        'values': block,
      )
    ),
  'width': map-merge(
      map-get($utilities, 'width'),
      (
        'values': (
          100: 100%,
        ),
      )
    ),
);

// cursor pointer. Same code from 'bootstrap-italia/src/scss/base/reboot':
button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2

  @if $enable-button-pointers {
    &:not(:disabled) {
      cursor: pointer; // 3
    }
  }
}

@import 'bootstrap-italia/src/scss/base/utilities/api'; //use $utilities

//@import 'bootstrap-italia/src/scss/utilities/focus';

@import 'bootstrap-italia/src/scss/components/buttons';

//se viene rimossa la definizione rounded-icon-size in bs-italia per btn-xs, allora serve questa regola:
// .btn-xs {
//   --#{$prefix}rounded-icon-size: var(--it-icon-size-xs);
// }
