#storybook-root {
  width: fit-content;
  max-height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin: auto;
}

.docs-story {
  background-color: #f9f9f9;
}

.flex {
  display: flex;
  align-items: start;
  padding: 0.3rem 0;
  gap: 0.6rem;
}

.toc-wrapper {
  ul {
    font-size: 0.85rem;
    line-height: 1.2;

    li.toc-list-item {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

#anchor--componenti-icona--informazioni-utili .sbdocs-preview {
  display: none;
}

.sbdocs.sbdocs-preview:has(.hide-preview) {
  display: none;
}

@media (min-width: 1200px) {
  .sbdocs-video-container {
    min-width: 800px;
  }
}

.docblock-argstable {
  ul {
    font-size: 13px;
  }
}

.toc-wrapper {
  ul {
    font-size: 0.85rem;
    line-height: 1.2;

    li.toc-list-item {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

/* Forza a capo prima del nome dell'attributo*/
// .token.attr-name::before {
//   content: '';
//   white-space: pre;
//   display: block;
// }
