#storybook-root {
  box-sizing: border-box;
  margin: auto;
  padding: 1rem;
  max-height: 100%;
  width: fit-content;
}

.flex {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.bg-dark {
  background-color: #17324d !important;
  padding: 1rem;
}
