#storybook-root {
  width: fit-content;
  max-height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin: auto;
}

.flex {
  display: flex;
  padding: 0.3rem 0;
  gap: 0.6rem;

  &.tipologie-buttons {
    justify-content: center;

    .flex {
      flex-direction: column;
      align-items: center;
    }
  }
}

#anchor--componenti-icona--informazioni-utili .sbdocs-preview {
  display: none;
}

.sbdocs.sbdocs-preview:has(.hide-preview) {
  display: none;
}

@media (min-width: 1200px) {
  .sbdocs-video-container {
    min-width: 800px;
  }
}
